
:host {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

/*Grid*/
.grid {
    font-size: 10vmin;
    font-family: monospace;

    box-sizing: border-box;
    background: var(--main);
    border: .25em solid var(--light-accent);
    border-radius: .25em;

    box-shadow: .125rem .125rem .25rem rgba(0,0,0,.5),
          inset .125rem .125rem .25rem rgba(0,0,0,.5);

    display: grid;
    grid-template-columns: repeat(var(--size, 0), 1fr);
    grid-template-rows: repeat(var(--size, 0), 1fr);
    grid-gap: .25rem;
    padding: .25rem;
}

.grid.grid-3 {
   --size: 3;
}

.grid > span {
    width: 10vmin;
    height: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark-accent);
    color: var(--light);
    border-radius: .25rem;

    font-size: 8vmin;
    font-weight: bold;
    box-shadow: .125rem .125rem .25rem rgba(0,0,0,.5);
    cursor: not-allowed;
}

.grid > span::before{
    content: attr(data-value);
}

.grid > span[data-move='0'] {
    cursor: n-resize;
}
.grid > span[data-move='1'] {
    cursor: e-resize;
}
.grid > span[data-move='2'] {
    cursor: s-resize;
}
.grid > span[data-move='3'] {
    cursor: w-resize;
}

    /*Aside*/
aside {
    margin-left: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

aside {
    font-size: 4vmin;
}

button.newTaquin {
    border-radius: .25em;
    background: var(--dark-accent);
    color: var(--light);
    border-color: rgba(0,0,0,.25);
}

aside button {
    font-size: inherit;
    cursor: pointer;
}
aside button[disabled] {
    cursor: not-allowed;
}

aside .score {
    font-family: monospace;
}

aside .score:empty {
    visibility: hidden;
}

/*pad*/
.pad {
    display: grid;
    grid-template-areas:
            "q     down e"
            "right hole left"
            "z     up   c";
}

.pad button {
    border: none;
    /*background-color: var(--main);*/
    /*color: var(--light);*/
}

.pad button.hole {
}

.pad button.up {
    grid-area: up;
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
}

.pad button.right {
    grid-area: right;
    border-top-left-radius: .25em;
    border-bottom-left-radius: .25em;
}

.pad button.down {
    grid-area: down;
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
}

.pad button.left {
    grid-area: left;
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
}

.pad button.hole {
    grid-area: hole;
}
