
:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    --gap: var(--taquin-gap, 4px);
    --tile: var(--taquin-tile, 10vmin);

}

/*Grid*/
.grid {
    background: var(--main);
    border: 2vmin solid var(--light-accent);
    border-radius: .5em;
    box-shadow: .125rem .125rem .25rem rgba(0,0,0,.5),
          inset .125rem .125rem .25rem rgba(0,0,0,.5);

    position: relative;
    padding: var(--gap);
    box-sizing: content-box;
    width: calc((var(--gap) + var(--tile)) * var(--size, 1) - var(--gap));
    height: calc((var(--gap) + var(--tile)) * var(--size, 1) - var(--gap));
}

.tile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark-accent);
    color: var(--light);
    border-radius: .25rem;

    font-family: monospace;
    box-shadow: .125rem .125rem .25rem rgba(0,0,0,.5);
    cursor: not-allowed;

    font-size: calc(.8 * var(--tile));

    width: var(--tile);
    height: var(--tile);

    top: calc(var(--gap) + (var(--gap) + var(--tile)) * var(--row, 0));
    left:calc(var(--gap) + (var(--gap) + var(--tile)) * var(--column, 0));

    transition: all .1s;
}

.tile[data-value='1'] span::after { content: '1'; }
.tile[data-value='2'] span::after { content: '2'; }
.tile[data-value='3'] span::after { content: '3'; }
.tile[data-value='4'] span::after { content: '4'; }
.tile[data-value='5'] span::after { content: '5'; }
.tile[data-value='6'] span::after { content: '6'; }
.tile[data-value='7'] span::after { content: '7'; }
.tile[data-value='8'] span::after { content: '8'; }
.tile[data-value='9'] span::after { content: '9'; }
.tile[data-value='10'] span::after { content: 'A'; }
.tile[data-value='11'] span::after { content: 'B'; }
.tile[data-value='12'] span::after { content: 'C'; }
.tile[data-value='13'] span::after { content: 'D'; }
.tile[data-value='14'] span::after { content: 'E'; }
.tile[data-value='15'] span::after { content: 'F'; }

.tile span {
    font-size: 8vmin;
    font-weight: bold;
}
.tile span::after {
    background: var(--dark);
    color: transparent;
    text-shadow: 1px 1px 1px hsla(0, 100%, 100%, .5);
    background-clip: text;
}

.tile[data-move='0'] { cursor: n-resize;}
.tile[data-move='1'] { cursor: e-resize;}
.tile[data-move='2'] { cursor: s-resize;}
.tile[data-move='3'] { cursor: w-resize;}

/*Aside*/
aside {
    margin-left: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

aside {
    font-size: 4vmin;
}

button.newTaquin, button.cheat {
    border-radius: .25em;
    background: var(--dark-accent);
    color: var(--light);
    border-color: rgba(0,0,0,.25);
    margin: .5em;
}

aside button {
    font-size: inherit;
    cursor: pointer;
}
aside button[disabled] {
    cursor: not-allowed;
}

aside .score {
    font-family: monospace;
}

aside .score:empty {
    visibility: hidden;
}

/*pad*/
.pad {
    display: grid;
    grid-template-areas:
            "q     down e"
            "right hole left"
            "z     up   c";
}

.pad button {
    border: none;
    width: 3ch;
    height: 3ch;
}

.pad button.hole {
}

.pad button.up {
    grid-area: up;
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
}

.pad button.right {
    grid-area: right;
    border-top-left-radius: .25em;
    border-bottom-left-radius: .25em;
}

.pad button.down {
    grid-area: down;
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
}

.pad button.left {
    grid-area: left;
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
}

.pad button.hole {
    grid-area: hole;
}
